root = true

[*.{cs,csx}]
charset = utf-8-bom
insert_final_newline = false
trim_trailing_whitespace = true

build_property.TreatWarningsAsErrors = true
build_property.EnforceCodeStyleInBuild = true

dotnet_diagnostic.severity = error

dotnet_analyzer_diagnostic.category-Style.severity = error
dotnet_analyzer_diagnostic.category-CodeQuality.severity = error
dotnet_analyzer_diagnostic.category-Documentation.severity = error
dotnet_analyzer_diagnostic.category-Naming.severity = error
dotnet_analyzer_diagnostic.category-Design.severity = error
dotnet_analyzer_diagnostic.category-Performance.severity = error
dotnet_analyzer_diagnostic.category-Interoperability.severity = error
dotnet_analyzer_diagnostic.category-Formatting.severity = error

# Правила форматирования скобок и пробелов
csharp_prefer_braces = all:error
csharp_space_after_keywords_in_control_flow_statements = always:error
csharp_space_between_parentheses = none:error

# IDE0011: Добавить фигурные скобки
csharp_prefer_braces = when_multiline

csharp_style_expression_bodied_methods = when_on_single_line
csharp_style_prefer_conditional_expression_over_statement = when_on_single_line
csharp_style_expression_bodied_lambdas = when_on_single_line
csharp_style_expression_bodied_properties = when_on_single_line
csharp_style_expression_bodied_constructors = when_on_single_line
csharp_style_expression_bodied_operators = when_on_single_line

# IDE0160: Преобразовать в namespace с заданной областью видимости блока
csharp_style_namespace_declarations = file_scoped

# IDE0008: Использование явного типа
csharp_style_var_elsewhere = true
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true

# IDE0072: Добавить отсутствующие варианты
dotnet_diagnostic.IDE0072.severity = silent

# IDE0046: Преобразовать в условное выражение
dotnet_style_prefer_conditional_expression_over_return = false

# IDE0130: Пространство имен (namespace) не соответствует структуре папок.
dotnet_style_namespace_match_folder = false

# IDE0058: Значение выражения никогда не используется
csharp_style_unused_value_expression_statement_preference = unused_local_variable
dotnet_diagnostic.IDE0058.severity = silent

# IDE0010: Добавить отсутствующие варианты
dotnet_diagnostic.IDE0010.severity = silent

# IDE0061: Использовать тело блока для локальной функции
csharp_style_expression_bodied_local_functions = when_on_single_line

# MA0046: Use EventHandler<T> to declare events
dotnet_diagnostic.MA0046.severity = none

# S3264: Events should be invoked
dotnet_diagnostic.S3264.severity = silent

# S1694: An abstract class should have both abstract and concrete methods
dotnet_diagnostic.S1694.severity = silent

dotnet_diagnostic.S3776.severity = warning

# RCS1214: Unnecessary interpolated string
dotnet_diagnostic.RCS1214.severity = warning

# S1121: Assignments should not be made from within sub-expressions
dotnet_diagnostic.S1121.severity = suggestion

# CA1711: Идентификаторы не должны иметь неправильных суффиксов
dotnet_diagnostic.CA1711.severity = silent

# S3267: Loops should be simplified with "LINQ" expressions
dotnet_diagnostic.S3267.severity = silent

# IDE0320: Сделать анонимную функцию статической
dotnet_diagnostic.IDE0320.severity = warning

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none

# RCS1047: Non-asynchronous method name should not end with 'Async'
dotnet_diagnostic.RCS1047.severity = none

# S1123: "Obsolete" attributes should include explanations
dotnet_diagnostic.S1123.severity = suggestion

# S1133: Deprecated code should be removed
dotnet_diagnostic.S1133.severity = silent

# MA0048: File name must match type name
dotnet_diagnostic.MA0048.severity = suggestion

# Default severity for analyzer diagnostics with category 'IDisposableAnalyzers.Correctness'
dotnet_analyzer_diagnostic.category-IDisposableAnalyzers.Correctness.severity = suggestion
